body {
    background-color: #121212;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

#particles-js {
    background: black;
}

h1 {
    color: #cacaca;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #cacaca;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-size: 1.2rem;
    color: #cacaca;
    font-family: 'DM Mono', monospace;
}

h4 {
    font-size: 1.2rem;
    color: #cacaca;
    font-family: 'DM Mono', monospace;
}

h5 {
    color: #cacaca;
    font-family: 'DM Mono', monospace;
}

p {
    color: #8a8a8a;
    font-family: 'DM Mono', monospace;
}

.sub-title {
    font-size: 1.5rem;
}

.grey * {
    color: #ABB2BF;
}

.bg-color {
    background-color: #121212;
}

.monospace {
    font-family: monospace;
}

.dm-mono {
    font-family: 'DM Mono', monospace;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.bold {
    font-weight: bold;
}

/* ------- Colors --------- */

.orange {
    color: #dd7729;
}

.blue {
    color: #519ABA;
    font-weight: bold;
}

.red {
    color: #BF6C65;
}

.yellow {
    color: #D8C059;
}

.purple {
    color: #BB78DD; 
}

.green {
    color: #98C364;
    text-decoration: none;
}

.hover-link:hover {
    color: #E5C059;
    text-decoration: underline;
}

.strong {
    font-weight: bold;
    color: #abb2bf;
}

.highlight {
    color: #abb2bf;
}

/* scroll-margin */
/* https://stackoverflow.com/questions/38069213/add-padding-top-to-scroll-when-using-href-id */
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Header bar */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #1d1f23;
}

.js-disable {
    display: none;
}

.js-disable-margin {
    margin-right: 1rem;
}

.slideInTop {
    animation: 3.5s ease-out 0s 1 slideInFromTop;
}

.navbar-toggler-icon {
    color: white;
}

.content-wrap {
    max-width: 70rem;
    margin: auto;
}

/* ---------- main ----------*/

/* hero */
/* https://codepen.io/geoffgraham/pen/jrWwWM */
#particles-js {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    transition: opacity 0.5s;
}

.bg-show {
    opacity: 0.3;
}

.bg-hidden {
    opacity: 0;
}

.typewriter h1 {
    color: #D8C059;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(10, end),
      blink-caret 0.6s step-end 3;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    50% {
        border-color: orange;
    }
}

.hero {
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    max-width: 100%;
}

.hero-intro {
    color: #cacaca;
    font-family: 'Ubuntu', sans-serif;
}

.hero p {
    animation: 3.3s ease-out 0s 1 slideInFromTop;
}

.hero h2 {
    font-size: 1.2rem;
    font-family: 'DM Mono', monospace;
    animation: 3.3s ease-out 0s 1 slideInFromBottom;
}

/* Projects section */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
div[class^="col-"] {
    transition: width 0.3s, height 0.3s;
  }

.section-title * {
    font-size: 1.5rem;
}

.project-card {
    background-color: #181A1F;
    border-radius: 5px;
    transition: 0.5s;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.remove-link {
    text-decoration: none;
}

.project-card:hover {
    transform: translateY(-1rem);
}

.file-icon {
    color: white;
}

.tag {
    margin: 0;
}

/* Side-elements */
.side-element {
    height: fit-content;
}

.side-element ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    margin: auto;
}

.side-element ul * {
    display: inline;
    text-decoration: none;
    list-style: none;
}

.side-element li {
    padding: 0 0.5rem 0 0.5rem;
}

.side-element p {
    display: none;
    position: absolute;
}

.side-icon {
    color: white;
}

@media (min-width: 87rem) {
    .side-element {
        display: block;
        position: fixed;
        height: 100vh;
        bottom: 0;
    }
    
    .side-element ul {
        animation: 3.5s ease-out 0s 1 slideInFromLeft;
        list-style: none;
        border-color: #ABB2BF;
        position: absolute;
        width: 8rem;
        bottom: 0;
    }
    
    .side-element li {
        position: relative;
        padding: 0;
    }
    
    .side-element a {
        display: block;
        margin: 1.5rem 0 1.5rem 0;
        width: 100%;
        text-decoration: none;
    }
    
    .side-element p {
        display: none;
        color: white;
        padding-left: 1rem;
        padding-top: 0.4rem;
        margin-bottom: 0;
        font-size: 0.8rem;
    }
    
    .side-element a:hover p {
        display: inline;
        animation: .3s ease-out 0s 1 fadeIn;
        color: #519ABA;
    }

    .side-element a:hover svg {
        color: #519ABA;
    }
}

/* Footer */
footer {
    color: white;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

/* --------------- Projects.html --------------- */
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
    padding-top: 3rem;
}

.side-nav *{
    text-decoration: none;
}

.side-nav {
    display: none;
    padding: 2rem .5rem 2rem .5rem;
    background-color: #181A1F;
}

.side-nav-link:hover p {
    color: white;
}

.side-nav h1 {
    padding-bottom: 1.4rem;
    color: #cacaca;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.side-nav ul {
    border-left: 1px solid #3b4048;
    padding-left: 1rem;
    margin-left: 1rem;
}

.side-nav-active p {
    color: white;
}

.explorer-title {
    color: #ABB2BF;
}

.main-content {
    grid-column: 1/3;
    max-width: 85%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

@media (min-width: 68.75rem) {
    .side-nav {
        display: block;
        grid-column: 1/2;
        position: fixed;
        height: 100%;
        width: 15%;
        border-right: 1px solid #1d1f23;
    }
    
    .main-content {
        grid-column: 2/3;
    }
}

.nav-item span {
    display: none;
}

@media (min-width: 81rem) {
    .side-nav {
        padding: 2rem 1rem 2rem 1rem;
    }
}

@media (min-width: 86.25rem) {
    .nav-item span {
        display: inline;
    }
}


/* Main content format */

.main-content img {
    width: 100%;
    height: auto;
}

hr {
    display: block;
    height: 1px;
    width: 50%;
    background-color: #e2e2e2;
    position: relative;
    border: 0;
    margin: 0.5rem 0 1rem;
}

.hr-full {
    width: 100%;
    margin: 1rem 0 1rem;
}

.section {
    padding-top: 2rem;
}

.img-overlay {
    position: relative;
}

.middle {
    transition: .5 ease;
    opacity: 0;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middle p {
    color: #cacaca;
}

.img-overlay img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-overlay:hover .img-overlay-img {
    opacity: 0.1;
}

.img-overlay:hover .middle {
    opacity: 1;
}

/* jQuery animation when element enters viewport */
.come-in {
    transform: translateY(200px);
    animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
to { transform: translateY(0); }
}

.already-visible {
transform: translateY(0);
animation: none;
}