
/* --------------- Projects.html --------------- */
body {
    overflow: hidden;
    height: 100vh;
}

main {
    overflow-y: auto;
}

nav {
    flex: 1 0 10%;
}

.wrapper {
    display: flex;
    height: 100%;
}

.wrapper-inner {
    width: 90%;
}